version: '3.8'

services:
  # Frontend service
  frontend:
    image: antoniopapa1991/admin-frontend
    depends_on:
      - backend
    networks:
      - app
    ports:
      - "8001:80"

  # Backend service API (Laravel)
  backend:
    container_name: admin_api
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      DB_HOST: db
      DB_DATABASE: admin
      DB_USERNAME: root
      DB_PASSWORD: root
    ports:
      - "8000:8000"
    volumes:
      - .:/app  # Mounts your Laravel project
    depends_on:
      - db
    networks:
      - app

  # Database service
  db:
    container_name: admin_db
    image: mysql:5.7.22
    environment:
      MYSQL_DATABASE: admin
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - dbdata:/var/lib/mysql
      - ./my.cnf:/etc/mysql/conf.d/my.cnf
    ports:
      - "33066:3306"
    networks:
      - app

volumes:
  dbdata:

networks:
  app:
